.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.content {
  object-fit: contain;
  @media screen and (max-width: 767px) {
    width: 320px;
  }
}
